@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    height: 100vh;
    margin: 0;
    line-height: 1.25;
    position: relative;
}
h1{
    color: black;
    text-align: center;
    font-family: 'Goldman', cursive;
    font-weight: 700;
    margin: 1rem;
}
  /* filters  */
.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    border: none;
}
.filter{
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.filter:hover{
    background-color: #e46d6d;
    color: white;
}
.header{
    display: flex;
    justify-content:center;
    color: white;
    padding: 10px 0;
}

.logo{
    width: 100px;
    height: 100px;
}
.quote-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    padding: 20px;
}
.quote-container{
    display: flex;
    flex-direction: column;
    font-weight: 520;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    line-height: 1.2;
    padding: 0.75rem;
}
.quote{
    padding-bottom: 8px;
    border-bottom: #ccc solid 1px;
}
.author{
    margin-top: 5px;
}
#new-quotecard{
    display: flex; 
    font-weight: 520;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.add-buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.add-quote-button{
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    border: none;
    padding: 1rem;
    width: 85vw;
}
.fa-plus{
    font-size: 2rem;
    color: #e26613;
}
#modal-card{
    position: absolute;
    top: 40%;left: 10%;
    width: 80%;
    background-color:azure;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
    box-shadow: 0 4px 8px rgb(0,0,0)
}
.input-field {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
.submit-button{
    background-color: #e26613;
    margin-top: 0.25em;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}
.close-button{
    position: absolute;
    top: 5%;left: 90%;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

@media (min-width: 768px) {
    body{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .quote-cards{
        margin-top: 1rem;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        gap: 1.25rem;
        max-width: 90vw;
        padding: 1.25rem;
    }
    .quote-container{
        display: none;
        text-align: start;
        position: relative;
        padding-left: 1.25rem;
        width: 40%;
        min-height:250px;
    }
    .quote{
        padding-bottom: 10px;
        border-bottom: none;

}
    .author{
        position: absolute;
        bottom: 10%; left: 25%;
        margin-top: 5px;
        border-top: #ccc solid 1px;
}
    .add-quote-button{
        width: 90%;
    }
    filters{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
}
