@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    height: 100vh;
    margin: 0;
    line-height: 1.25;
}
h1{
    color: black;
    text-align: center;
    font-family: 'Goldman', cursive;
    font-weight: 700;
    margin: 1rem;
}
  /* filters  */
.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    border: none;
}
.filter{
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.filter:hover{
    background-color: #e46d6d;
    color: white;
}
.header{
    display: flex;
    justify-content:center;
    color: white;
    padding: 10px 0;
}

.logo{
    width: 100px;
    height: 100px;
}
.quote-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding: 20px;
}
.quote-card{
    font-weight: 520;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.quote-container{
    padding: 0.75rem;

}
.add-buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.add-quote-button{
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    border: none;
    padding: 1rem;
    width: 85vw;

}
.fa-plus{
    font-size: 2rem;
    color: #e26613;
}

@media (min-width: 768px) {
    body{
        font-size: 1.5rem;
    }
    .quote-cards{
        flex-direction: row;
        align-items: center;
    }
    .quote-card{
        width: 90%;
    }
    .add-quote-button{
        width: 90%;
    }
    filters{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
}